<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/overrides.css">
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	</head>
		<body>
			<div class="page">
			<script>
    $(function() {
        $('#search_input').fastLiveFilter('#search_list');
    });
</script>

				
				<div class="show-list">
					
				</div><!-- end show-list -->
			</div><!-- end page -->
			<script type="text/template" id="show-template">
			<input id="searchInput" placeholder="Type to filter">

              <table class="rwd-table" id="schedule">
              	<tr>
              		<th class="date">Date</th>
              		<th class="time">Time</th>
              		<th class="artist">Artist</th>
              		<th class="venue">Venue</th>
              	</tr>
                <% _.each(shows, function(show) { %>
					<tr>                       
                        <td data-th="Date"><span class="time"><%= show.date %></span></td>
                        <td data-th="Time"><span class="time"><%= show.time %></span></td>
                        <td data-th="Artist"><span class="artist"><%= show.artist %></span></td>
                        <td data-th="Venue"><span class="venue"><%= show.venue %></span></td>
                    </tr>
			<% }); %>
                </table>
			</script>

			<script src="js/jquery.js"></script>
			<script src="http://listjs.com/no-cdn/list.js"></script>
 			<script src="js/underscore.js"></script>
 			<script src="js/showlist.js"></script>

		</body>
</html>