<html>
	<head>
	</head>
		<body>
			<div class="page">
				<h1>Show List</h1>
				<div class="show-list">
					
				</div><!-- end show-list -->
			</div><!-- end page -->
			<script type="text/template" id="show-template">
			<% _.each(shows, function(show) { %>
					<div class="show">
						<span class="time"><%= show.time %></span>
						<span class="artist"><%= show.artist %></span>
						<span class="venue"><%= show.venue %></span>
                        <% if ((show.media) != "") { %>
                            <button class="toggle">Show Media</button>
                        <% } %>
                            <span class="media"><%= show.media %></span>
					</div>
			<% }); %>
			</script>

		</body>
</html>